@page
@model oauth_nhsd_api.Pages.AllergiesDataDumpModel
@{
    ViewData["Title"] = "Allergies";
}
@using Newtonsoft.Json
@using oauth_nhsd_api.Helpers
@{
    var parser = new ParseResourceToObjectClass();
}


<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" asp-page="/Allergies">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back
    </a>
</div>

<h1>Allergies and adverse reactions</h1>

<div class="container">
    @foreach (var item in Model.OrderedList)
    {
        Model.Resource = item;
        <div>
            <ul class="nhsuk-list">
                <li>@Html.DisplayNameFor(model => model.Resource.AllergyTitle): @Model.Resource.AllergyTitle</li>
                <li>@Html.DisplayNameFor(model => model.Resource.Id): @Model.Resource.Id</li>
                <li>@Html.DisplayNameFor(model => model.Resource.Profile): @Model.Resource.Profile</li>
                <li>@Html.DisplayNameFor(model => model.Resource.OnSetDate): @Model.Resource.OnSetDate</li>
                <li>@Html.DisplayNameFor(model => model.Resource.AssertedDate): @Model.Resource.AssertedDate</li>
                <li>@Html.DisplayNameFor(model => model.Resource.EndDate): @Model.Resource.EndDate</li>
                <li>@Html.DisplayNameFor(model => model.Resource.EndReason): @Model.Resource.EndReason</li>
                <li>@Html.DisplayNameFor(model => model.Resource.Identifier): @Model.Resource.Identifier</li>
                <li>@Html.DisplayNameFor(model => model.Resource.ClinicalStatus): @Model.Resource.ClinicalStatus</li>
                <li>@Html.DisplayNameFor(model => model.Resource.VerificationStatus): @Model.Resource.VerificationStatus</li>
                <li>@Html.DisplayNameFor(model => model.Resource.AssetType): @Model.Resource.AssetType</li>
                <li>@Html.DisplayNameFor(model => model.Resource.Category): @Model.Resource.Category</li>
                <li>@Html.DisplayNameFor(model => model.Resource.Cause): @Model.Resource.Cause</li>
                <li>@Html.DisplayNameFor(model => model.Resource.Reaction): @Model.Resource.Reaction</li>
                <li>@Html.DisplayNameFor(model => model.Resource.ReactionSeverity): @Model.Resource.ReactionSeverity</li>
                <li>@Html.DisplayNameFor(model => model.Resource.AdditionalInformation): @Model.Resource.AdditionalInformation</li>
                <li>@Html.DisplayNameFor(model => model.Resource.Recorder): @Model.Resource.Recorder</li>
                @*<li>@Html.DisplayNameFor(model => model.Resource.Asserter): @Model.Resource.Asserter</li>*@ @*Removed for Prototype*@
                @*<li>@Html.DisplayNameFor(model => model.Resource.LastOccurrenceDate): @Model.Resource.LastOccurrenceDate</li>*@ @*Removed for Prototype*@
            </ul>
            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
        </div>
    }
</div>
