@page
@model oauth_nhsd_api.Pages.AllergyDetailsModel
@{
}

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" asp-page="/Allergies">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back
    </a>
</div>
<h2>Allergy Details</h2>
<div class = "container">
    <p class="nhsuk-body"></p>

</div>
<ul class="nhsuk-list">
  <li>@Html.DisplayNameFor(model => model.ParsedModel.AllergyTitle): @Model.ParsedModel.AllergyTitle</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.OnSetDate): @Model.ParsedModel.OnSetDate</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.AssertedDate): @Model.ParsedModel.AssertedDate</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.EndDate): @Model.ParsedModel.EndDate</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.EndReason): @Model.ParsedModel.EndReason</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.ClinicalStatus): @Model.ParsedModel.ClinicalStatus</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.AssetType): @Model.ParsedModel.AssetType</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.Category): @Model.ParsedModel.Category</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.Cause): @Model.ParsedModel.Cause</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.Reaction): @Model.ParsedModel.Reaction</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.ReactionSeverity): @Model.ParsedModel.ReactionSeverity</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.AdditionalInformation): @Model.ParsedModel.AdditionalInformation</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.Recorder): @Model.ParsedModel.Recorder</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.Asserter): @Model.ParsedModel.Asserter</li>
  <li>@Html.DisplayNameFor(model => model.ParsedModel.LastOccurrenceDate): @Model.ParsedModel.LastOccurrenceDate</li>
</ul>

